<!DOCTYPE html>
<html>
	<head>
		<title>Ravetastic</title>
	</head>
	<body>	

		<%= erb(:'partials/navigation', :layout => false) %>
		<!-- our template content will be injected below here -->
		<%= yield%>

	</body>
</html>