<!DOCTYPE html>
<html>
	<head>
		<title>Ravetastic</title>
		<link rel="stylesheet" type="text/css" href="/css/global.css">
	</head>
	<body>

		<main>
			<%= erb(:'partials/navigation', :layout => false) %>
			<!-- our template content will be injected below here -->
			<%= yield%>
		</main>



	</body>
</html>