body {

	/*background-color: black;*/
	font-family: Geneva;
	background-image: url('/images/background.jpg');
	background-size: contain;


}

main {

	width: 72%;
	margin: 0 auto;
	background: #2d2a2a;
	background: rgba(38, 56, 54, 0.6);

}

nav {

	padding-top: 20px;
}

h1{

	padding-left: 10px;
	margin-bottom: 38px;
	text-align: center;
	color: white;
	/*font-family: 'Helvetica Neue';*/
}

ul{

	padding: 0;
	text-align: center;
}


}

ul li {

	display: inline-block;
	

}


li {
	display: inline-block;
	padding-right: 10px;
}

img {

	height: 99%;
    width: 26%;
    max-width: 209px;
	float: left;
	margin-right: 18px;
}

.club-container{

	padding-left: 10px;
    background-color: #082727;
    border-color: #184e49;
    border-style: solid;
    margin-bottom: 38px;
    color: white;
    height: 307px;
   

}

.information{

	display: inline-block;
	width: 65%;


}

a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: yellow;
    text-decoration: none;
}

/* selected link */
a:active {
    color: yellow;
    text-decoration: none;
}

.button{

    border: solid;
    border-width: 1px;
    background-color: black;
    color: yellow;
    height: 33px;
    width: 57px;
    text-align: center;
    display: inline-block;
    padding: 0;
    margin-top: 12px;
}

form {

	display: inline-block; 	
}

form.club-container{

	width: 97%;
	padding-top: 18px;

}





}




