
<h1>Clubs</h1>

<% @clubs.each do |club| %>

<div class="club-container">
	<h3>Name: <%=club.name%></h3>
	<p>Description: <%=club.description%></p>
	<p>Rating: <%=club.rating%></p>
	<p>Location: <%=club.location%></p>
</div>

<% end %>
